@import "../../styles/variables";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-xl * 2;
  color: $color-error;
  font-size: 14px;
  text-align: center;
}
